<!--model List<Anime>

<h1>All Anime</h1>

<ul>
    foreach (var anime in Model)
    {
        <li>
            <a href="Url.Action("Detail", "Anime", new { animeName = anime.Title })">anime.Title</a>
        </li>
    }
</ul>
-->
@model IEnumerable<Anime>
@*

*@

@{
    double averageAnimeRating(ICollection<Season> seasons)
    {
        double avgSum = 0;
        int n = 0;
        @foreach (var season in seasons)
        {
            //avgTmp = season.Ratings.Sum(x => x.Mark) / season.Ratings.Count();
            if (season.Ratings.Count > 0)
                avgSum += season.Ratings.Average(x => x.Mark);
            else
                n++;
        }
        return avgSum / (seasons.Count() - n);
    }
}

<div class="grid">
    @foreach (var anime in Model)
    {
        <a onclick="openModal({url: '/Anime/GetAnime', data: '@anime.Id'})" data-toggle="ajax-modal" data-trigger="Modal">
            <div class="content flow">


                <img src="@anime.TitleImage" alt="Mimimamomu" title="click me!">

                <p class="title"><strong>@anime.Title</strong></p>


                <div class="rating">
                    @if (anime.Seasons.Any())
                    {
                        int averageRating = (int)averageAnimeRating(anime.Seasons);
                        for (int i = 1; i <= 5; i++)
                        {
                            if (i <= averageRating)
                            {
                                <span class="fa fa-star checked"></span>
                            }
                            else
                            {
                                <span class="fa fa-star"></span>
                            }
                        }

                        <span style="margin-left: 3px;">(@averageAnimeRating(anime.Seasons).ToString("0.00"))</span>

                    }
                    else
                    {
                        for (int i = 1; i <= 5; i++)
                        {
                            <span class="fa fa-star"></span>
                        }
                    }
                </div>
                <ul>

                    @foreach (var genre in anime.AnimeGenres)
                    {
                        <li>@genre.Genre.Name</li>
                    }
                </ul>


            </div>
        </a>
    }
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


