@model IEnumerable<Anime>
@*

*@

@{
    double averageAnimeRating(ICollection<Season> seasons)
    {
        double avgSum = 0;
        int n = 0;
        @foreach (var season in seasons)
        {
            //avgTmp = season.Ratings.Sum(x => x.Mark) / season.Ratings.Count();
            if (season.Ratings.Count > 0)
                avgSum += season.Ratings.Average(x => x.Mark);
            else
                n++;
        }
        return avgSum / (seasons.Count()-n);
    }
    Anime selectedAnime = null;
    void SelectAnime(int animeId)
    {
        selectedAnime = Model.FirstOrDefault(a => a.Id == animeId);
    }
}

<div class="grid">
    @foreach (var anime in Model)
    {
        <div class="content flow">
            
            <a onclick="openModal({url: '/Anime/GetAnime', data: '@anime.Id'})" data-toggle="ajax-modal" data-trigger="Modal">
                <img src="@anime.TitleImage" alt="Mimimamomu" title="click me!">

                <p class="title"><strong>@anime.Title</strong></p>
            </a>
            <p>@anime.Editor.Name</p>
            <ul>
                @foreach (var season in anime.Seasons)
                {
                    <li>
                        @season.Name - @season.Date -             
                        <small class="text-muted">
                            <a style="color:white; text-decoration:none;" 
                            asp-area="" asp-controller="Season" asp-action="Detail" asp-route-id="@season.Id">
                                <button class="btn btn-primary">Go watch!</button></a>
                        </small>
                    </li>
                }
            </ul>
            <div class="rating">
                @if (anime.Seasons.Any())
                {
                    int averageRating = (int)averageAnimeRating(anime.Seasons);
                    for (int i = 1; i <= 5; i++)
                    {
                        if (i <= averageRating)
                        {
                            <span class="fa fa-star checked"></span>
                        }
                        else
                        {
                            <span class="fa fa-star"></span>
                        }
                    }

                    <span style="margin-left: 3px;">(@averageAnimeRating(anime.Seasons).ToString("0.00"))</span>

                }
                else
                {
                    for (int i = 1; i <= 5; i++)
                    {
                        <span class="fa fa-star"></span>
                    }
                }
            </div>
            <ul>

                @foreach (var genre in anime.AnimeGenres)
                {
                    <li>@genre.Genre.Name</li>
                }
            </ul>


        </div>

    }
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


