@using WebApplication5.ViewModels
@model List<FavouriteAnime>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "WishList";
     
    int EpisodeCount(List<Season> seasons, bool isFlag)
    {
        int count = 0;
        foreach (var season in seasons)
            if (isFlag)
                count += season.Episodes.Count(x => x.SeasonNumber > 0);
            else
                count += season.Episodes.Count(x => x.SeasonNumber < 0);
        return count;
    }
    double averageAnimeRating(List<Season> seasons)
    {
        double avgSum = 0;
        int n = 0;
        @foreach (var season in seasons)
        {
            //avgTmp = season.Ratings.Sum(x => x.Mark) / season.Ratings.Count();
            if (season.Ratings.Count > 0)
                avgSum += season.Ratings.Average(x => x.Mark);
            else
                n++;
        }
        return (avgSum / (seasons.Count() - n)) > 0 ? avgSum / (seasons.Count() - n) : 0;
    }
}
<style>

    .anime-card {
        padding: 7px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s, transform 0.5s ease;
        background: white;
        background-color: #fff;
        border-radius: 8px;
        break-inside: avoid;
        margin: 10px 0px;
        align-items: center; /* Center horizontally */
        display: flex;
        flex-direction: column;
        position: relative;
    }

        .anime-card:hover {
            background-color: rgba(0, 0, 0, 0.7);
        }

    .anime-image {
        margin-bottom: 5px;
        max-width: 100%;
        height: auto; /* Maintain aspect ratio */
        border-radius: 5px;
        width: 100%;
        transition: opacity 0.3s ease;
    }

    .anime-card:hover .anime-image {
        opacity: 0.6; /* Затемнение фото при наведении на карточку */
    }

    .anime-info {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        opacity: 0; /* Сначала скрываем информацию */
        transition: opacity 0.3s ease;
        text-align: center; /* Центрирование текста */
        width: 100%; /* Занимает всю ширину карточки */
    }

    .anime-card:hover .anime-info {
        opacity: 1; /* Показываем информацию при наведении на карточку */
    }

    .anime-title {
        margin-top: 10px;
        font-weight: bold;
    }

    .anime-rating {
        margin-top: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .fa-star {
        color: lightgray;
    }

    .checked {
        color: orange;
    }


    .genre-listF {
        list-style: none;
        padding: 0;
        margin: 10px 0 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .genre-itemF {
        margin: 3px;
        padding: 2px 6px;
        background-color: #3498db;
        color: white;
        border-radius: 5px;
    }
</style>

<!-- Ваш остальной код остается неизменным -->

<div class="grid">
    @foreach (var anime in Model)
    {
        <a onclick="openModal({url: '/Anime/GetAnime', data: '@anime.AnimeName'})" data-toggle="ajax-modal" data-trigger="Modal">
            <div class="anime-card">
                <img class="anime-image" src="@anime.Anime.TitleImage" alt="Mimimamomu" title="click me!">
                <div class="anime-info">
                    <p class="anime-title">@anime.AnimeName</p>
                    <p class="anime-title">Seasons | @anime.Anime.Seasons.Count</p>
                    <p class="anime-title">Episodes | @EpisodeCount(anime.Anime.Seasons, true)</p>
                    @if (EpisodeCount(anime.Anime.Seasons, false) > 0)
                    {
                        <p class="anime-title">Films | @EpisodeCount(anime.Anime.Seasons, false)</p>
                    }
                    <div class="anime-rating">
                        @{
                            int averageRating = (int)averageAnimeRating(anime.Anime.Seasons);
                            for (int i = 1; i <= 5; i++)
                            {
                                if (i <= averageRating)
                                {
                                    <span class="fa fa-star checked"></span>
                                }
                                else
                                {
                                    <span class="fa fa-star"></span>
                                }
                            }

                            <span style="margin-left: 3px;">(@averageAnimeRating(anime.Anime.Seasons).ToString("0.00"))</span>
                        }
                    </div>
                </div>
                <ul class="genre-listF">
                    @foreach (var genre in anime.Anime.AnimeGenres)
                    {
                        <li class="genre-itemF">@genre.Genre.Name</li>
                    }
                </ul>
            </div>
        </a>
    }
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


